.collections{
    background-image: linear-gradient(180deg,  #f6f4ee22 30%,#47fdae );
    display: flex;
    align-items: center;
    justify-content: center;
}


.new-collections{
    display: flex;
    height: 100vh;
    width: 1250px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    /* background-image: linear-gradient(180deg,  #3a331c22 60%,#47fdae ); */
    display: flex;
}
.new-collections h2{
    font-size: 40px;
}
.new-collections hr{
    width: 300px;
    height: 5px;
    background-color:#414141;
}
.new-collections-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    
}
.new-collections-item-containor{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    max-width: 800px;
}