.navbar{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 0 1px 0.1px black;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: grey;
    font-size: 18px;
    font-weight: 700;
    gap: 60px;
    cursor: pointer;
    /* position: relative; */
    /* max-width: 700px; */
}
/* .nav-menu hr {
    /* position: absolute; */
    /* border: none;
    width: 100%;
    height: 3px;
    background-color: red;
} */ 






.nav-menu li {
  position: relative;
  
}
.nav-menu li hr {
  margin: -2px 0 0 0;
  border: none;
  height: 2px;
  background-color: red;
  width: 0;
  transition: width 0.3s ease;
}

.nav-menu li.active hr {
  width: 100%;
}


.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 40px;
    position:relative;
}
.nav-cart-count{
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    right: 1px;
    top: -1px;
    z-index: 1;
    background-color: red;
    border-radius: 50px;
    min-width: 15px;
    color: white;
}
.nav-login-cart button{
    width: 120px;
    height: 40px;
    outline: none;
    border: 1px solid grey;
    border-radius: 75px;
    color: #515151;
    font-size: 17px;
    cursor: pointer;
    background-color: white;
}
.nav-login-cart button:active{
    background-color: #f3f3f3;
}





.hamburger {
  display: none;
  font-size: 40px;
  cursor: pointer;
}
@media(max-width: 860px) {
    .hamburger {
        display: block;
    }
    .nav-menu{
        display: none;
    }
    .navbar{
    display: flex;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 1px 0.1px black;
    }
    .nav-login-cart button{
    width: 80px;
    height: 30px;

    }
    .nav-logo img{
        height: 40px;
    }
    .nav-logo{
        flex-grow: 1;
    }
    .nav-login-cart{
        gap: 20px;
        justify-content: space-between;
        /* background-color: yellow; */
    }
    .nav-menu-popup{
        display: flex;
        flex-direction: column;

        list-style: none;
        font-size: 20px;
        position: absolute;
        /* background-color: yellow; */
        padding: 20px;
        border: none;
        border-radius: 5px;
        right: 30px;
        background-color: #eae8e8;
        
    }
    .active{
        display: none;
    }
    .nav-menu-popup li a:hover{
        color: red !important;
    }

}
    
    
    @media(max-width: 860px) {
    
    }
    
