.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    gap: 30px;
}
.footer .footer-links-list{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    cursor: pointer;
}
.footer .social-media-logo{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.footer hr{
    width:100%;
    height: 2px;
    background-color: black;
}
.footer p{
    font-weight: 500;
}